@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.dark {
  background: #000;
}

@theme {
  --animate-slider: slider 12s infinite;
}

@keyframes slider {
  0%, 20%   { transform: translateX(0%); }
  25%, 45%  { transform: translateX(-100%); }
  50%, 70%  { transform: translateX(-200%); }
  75%, 95%  { transform: translateX(-300%); }
  100%      { transform: translateX(0%); }
}